body {
   min-height: 100vh; 
   position: relative; 
}

main {
   height: 100%;
   width: 80%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

header {
   width: 80vw;
   text-align: center;
}

article {
   width: 100%;
   box-shadow: 1px 17px 20px 0px #8f8e8e26;
   padding: 16px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 150px
}

section.about {
   width: 100%;
}

section.about > p {
   font-size: 0.9em;
   font-family: Arial, Helvetica, sans-serif;
   letter-spacing: 0.7px;
}

section.plate {
   width: 100%;
   background-color: rgb(251 251 251);
   gap: 8px;
   border-radius: 24px 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

section.plate > h3 {
   font-size: 1.2em;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.plate > img {
   width: 50%;
}

div.description {
   background-color: rgb(255, 255, 255);
   padding: 0px 16px;
   border-radius: 8px;
   width: 60%;
   margin-bottom: 8px;
   display: flex;
   flex-direction: column;
}

div.description > p {
   font-size: 0.8em;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.description > h4 {
   border-bottom: solid 0.3px black;
   font-size: 1em;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.add {
   width: 100%;
   margin: 8px;
   gap: 8px;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

div.add > input {
   background-color: rgb(252, 213, 86);
   font-size: 10px;
   width: 28%;
   height: 24px;
   padding: 0px 8px;
   border-radius: 8px;
   border: none;
}

div.add > button {
   font-size: 10px;
   color: white;
   background-color: brown;
   width: 28%;
   height: 25px;
   padding: 8px;
   border-radius: 8px;
   border: none;
}

footer {
   font-family: 'Courier New', Courier, monospace;
   color: rgb(255, 255, 255);
   background-color: brown;
   text-align: center;
   height: 150px;
   width: 150%; 
   margin-bottom: -10px;
   position: absolute; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   bottom: 0; 
}

footer a {
   text-decoration: none;
   color: aliceblue;
   font-family: 'Courier New', Courier, monospace;
}

@media (min-width: 756px) and (max-width: 992px) {
   div.add {
      width: 80%;
      margin: 8px;
      gap: 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
   }
}

@media (min-width: 993px) and (max-width: 1200px) {
   section.plate > img {
      width: 30%;
   }
   
   div.add {
      width: 60%;
      margin: 8px;
      gap: 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
   }
}

@media (min-width: 1201px) {
   section.plate > img {
      width: 30%;
   }

   div.add {
      width: 50%;
      margin: 8px;
      gap: 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
   }
}